.navBar {
    background-color: rgb(15, 26, 26);
    display: flex;
    align-items: center;  /* Vertically center the content */
    justify-content: center;  /* Horizontally center the content */
    height: 150px;
    width: 100%;
}

.navBar h1 {
    color: #ffffff; /* Dark color for better readability */
    
}
